:root {
  --color: #3c9294;
}

a {
  color: #fff;
}
a:hover {
  color: #00f;
}

.btn {
  border-radius: 1.5rem;
}

.navbar {
  background-color: #3c9294;
}

input[type="radio"] {
  border: 0px;
  margin-top: 1rem;
  height: 2rem;
  width: 3rem;
}

footer {
  background-color: #3c9294;
  padding: 1.5rem;
  color: white;
}

footer p {
  margin: 0;
}

.container {
  margin-top: 2rem;
}

.jumbotron {
  background-image: url("../images/dope.png");
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

h1,
p {
  margin: 1rem 0 1.5rem 0;
}

.totalTests {
  text-align: center;
  margin-bottom: 5rem;
}

.home-about {
  margin-top: 2rem;
  margin-right: 3rem;
  max-width: 100%;
}

.about-test-btn {
  margin-bottom: 3rem;
}

.fourbirds {
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
}

.about-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.about-container h3 {
  font-weight: 700;
}

.about-container .btn {
  margin-bottom: 2rem;
}

.bird-heading h2,
.bird-heading p {
  font-weight: 700;
  text-align: center;
  margin: 2rem auto;
  width: 90%;
}

.col-md-12 {
  margin: 1rem auto;
  display: block;
  align-items: center;
  text-align: center;
}

.test-heading {
  margin: 1rem auto;
  text-align: center;
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.inline-radio p {
  margin: 1rem;
}

.question h2 {
  margin: 1rem 0 1rem 1rem;
  font-size: 18px;
}

.test-btn {
  margin: 1rem 0 1rem 1rem;
  background-color: #3c9294;
  border-color: #3c9294;
}

.form-container {
  text-align: center;
}

@media (max-width: 991.98px) {
  .inline-radio {
    width: 90% !important;
  }
}
